<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID">
	<display-name>mycart</display-name>
	<servlet>
		<description>
		</description>
		<display-name>loginservlet</display-name>
		<servlet-name>loginservlet</servlet-name>
		<servlet-class>registration.loginservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Loginservlet</display-name>
		<servlet-name>Loginservlet</servlet-name>
		<servlet-class>registration.Loginservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Loginservle</display-name>
		<servlet-name>Loginservle</servlet-name>
		<servlet-class>login.Loginservle</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>logout</display-name>
		<servlet-name>logout</servlet-name>
		<servlet-class>registration.logout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>logoutservlet</display-name>
		<servlet-name>logoutservlet</servlet-name>
		<servlet-class>registration.logoutservlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginservlet</servlet-name>
		<url-pattern>/loginservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Loginservlet</servlet-name>
		<url-pattern>/Loginservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Loginservle</servlet-name>
		<url-pattern>/Loginservle</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logoutservlet</servlet-name>
		<url-pattern>/logoutservlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
